form(action="/")
	.form-group
		input.form-control-sm.form-control(type="tel", placeholder="Номер телефона")
	.form-group
		input.form-control-sm.form-control(type="text", placeholder="Как вас зовут?")
	.form-group
		input.btn-block.btn-sm.btn-primary.btn(type="submit", value="Перезвонить мне")