.footer-contact.d-md-flex
	.footer-contact-item._mail-blue
		a(href="mailto:info@pecrus.ru") info@pecrus.ru
	.footer-contact-item._tel-blue
		a.tel(href="tel:+78435708207") 8 (843) 570-82-07
	.footer-contact-item._mark-blue г. Казань, ул. Дементьева, 1, к. 11