nav
	ul.footer-menu-columns.footer-menu.list-unstyled
		each item_title in [ 'Главная', 'О компании', 'Услуги', 'Продукция', 'Сертификаты и лицензии', 'Наши клиенты', 'Разработки и инновации', 'Контакты' ]
			li
				a(href="/")= item_title