.d-xl-none
	.mobile-menu-container
		.mobile-menu-inner
			nav.mobile-main-menu.mobile-menu
				ul#menu-mobile_menu.menu
					each itemTitle in [ 'О компании', 'Услуги', 'Продукция', 'Разработки и инновации', 'Сертификаты и лицензии', 'Контакты' ]
						li
							a(href="/")= itemTitle

	.mobile-menu-overlay