.d-xl-none
	.mobile-menu-container
		.mobile-menu-inner
			nav.mobile-main-menu.mobile-menu
				ul
					each itemTitle, itemLink in { 'about': 'О компании', 'services': 'Услуги', 'products': 'Продукция', 'niokr': 'Разработки и инновации', 'certs': 'Сертификаты и лицензии', 'contacts': 'Контакты' }
						li
							a(href= itemLink + ".html")= itemTitle

	.mobile-menu-overlay