footer.footer
	.container
		.footer-main.row
			.col-md-3
				include _logo.pug

			.col-md-5
				include _search.pug

				include _main-menu.pug

			.col-md-4
				include _callback-form.pug

		include _contact.pug

		include _nav.pug
			
	include _sub.pug

include _mobile-nav.pug