extends ./_widget.pug

block title
	| О компании

block content
	.container
		.teaser._featured
			.row
				figure.teaser-thumb.col-xl-5.col-lg-6
					img(src="t/2.jpg", alt="")

				.col-xl-7.col-lg-6
					.teaser-content._featured
						p ООО "Проектно-инжиниринговая компания" специализируется на изготовлении фасонных литых заготовок из широкой номенклатуры сплавов на основе алюминия и железа: для машиностроения, авиастроения, для нефтегазодобывающей промышленности, для сельского и коммунального хозяйства и пр.
						p Компания имеет собственное литейное производство и лабораторию, оснащенную самым современным оборудованием. Внедрение аддитивных технологий позволило нам перейти от традиционных способов изготовления форм к гораздо более современным и дало возможность радикально сократить время на создание новой продукции — последовательное формирование слоев позволяет изготавливать формы и стержни непосредственно по CAD-данным.
						p
							a.btn.btn-more(href="/") Подробнее