extends ./_widget.pug

block title
	| Гибридная энергоустановка

block content
	.container
		.teaser
			.row
				figure.teaser-thumb.col-xl-5.col-lg-6
					img.img-block(src="t/19.jpg", alt="")

				.col-xl-7.col-lg-6
					.teaser-content
						p Мы используем творческий подход к применению научных принципов при проектировании, разработке конструкторской документации и создании опытных образцов в полном соответствии с проектом, руководствуясь соображениями функциональности, экономичности в использовании и безопасности.
						p Наш опыт и новейшее оборудование позволяют проводить как инжиниринг, так и реинжиниринг изделий.  Мы используем творческий подход к применению научных принципов при проектировании, разработке конструкторской документации и создании опытных образцов в полном соответствии с проектом, руководствуясь соображениями функциональности, экономичности в использовании и безопасности.
						p Наш опыт и новейшее оборудование позволяют проводить как инжиниринг, так и реинжиниринг изделий. Мы используем творческий подход к применению научных принципов при проектировании, разработке конструкторской документации и создании опытных.
						p
							a.btn.btn-primary.btn-more(href="/") Подробнее