extends ./_widget.pug

block title
	| Установка ультразвуковой дегазации

block content
	.container
		.teaser
			.row
				figure.teaser-thumb.col-xl-3.col-lg-4
					img.img-block(src="t/20.jpg", alt="")

				.col-xl-9.col-lg-8
					.teaser-content
						p Мы используем творческий подход к применению научных принципов при проектировании, разработке конструкторской документации и создании опытных образцов в полном соответствии с проектом, руководствуясь соображениями функциональности, экономичности в использовании и безопасности.
						p Наш опыт и новейшее оборудование позволяют проводить как инжиниринг, так и реинжиниринг изделий. Мы используем творческий подход к применению научных принципов при проектировании, разработке конструкторской документации и создании опытных образцов в полном соответствии с проектом, руководствуясь соображениями функциональности, экономичности в использовании и безопасности.
						p Наш опыт и новейшее оборудование позволяют проводить как инжиниринг, так и реинжиниринг изделий.
		
		+list-featured({ cols: 2, title: 'Основной комплекс ультразвуковой дегазации включает следующее:', list: [ 'Создание чертежей и 3D моделей;', 'Разработка литейных технологий;', 'Подбор необходимого оборудования и технологической оснастки;', 'Обследование производства и выработка рекомендаций по его модернизации.' ] })