extends ./layout/layout.pug

block meta
	- var pageNum = 5

	title Сертификаты и лицензии

block append header
	+header-title({ title: 'Сертификаты и лицензии', titleBg: '21' })

block content
	include ./blocks/main/certs.pug

	include ./blocks/main/contact-map.pug