extends ./layout/layout.pug

block meta
	- var pageNum = 6

	title Контакты

block append header
	+header-title({ title: 'Контакты', titleBg: '23' })

block content
	- var titleHide = true
	include ./blocks/main/contact-map.pug

	- titleHide = false