extends ./layout/layout.pug

block meta
	title Главная страница

block append header
	include ./blocks/header/promo.pug

block content
	include ./blocks/main/about.pug
	
	include ./blocks/main/services.pug

	include ./blocks/main/clients.pug