extends ./layout/layout.pug

block meta
	- var pageNum = 2

	title Услуги

block append header
	+header-title({ title: 'Услуги', titleBg: '9' })

block content
	.container
		+nav-sub([ 'Инжиниринг изделий', 'Изготовление литейной оснастки', 'Изготовление отливок', 'Механическая обработка', 'Проектирование и производство композитных изделий', 'Лабораторные исследования', 'Дополнительные услуги' ])

		.teaser
			.row
				figure.teaser-thumb.col-xl-5.col-lg-6
					img.img-block(src="t/10.jpg", alt="")

				.col-xl-7.col-lg-6
					.teaser-content
						.teaser-num 01
						h3.teaser-title Инжиниринг и реинжиниринг изделия
						p Мы используем творческий подход к применению научных принципов при проектировании, разработке конструкторской документации и создании опытных образцов в полном соответствии с проектом, руководствуясь соображениями функциональности, экономичности в использовании и безопасности. Наш опыт и новейшее оборудование позволяют проводить как инжиниринг, так и реинжиниринг изделий.  
						p
							a.btn.btn-primary.btn-more(href="/") Заказать

		+list-featured({ cols: 2, title: 'Основной комплекс инжиниринговых услуг включает следующее:', list: [ 'Создание чертежей и 3D моделей;', 'Разработка литейных технологий;', 'Подбор необходимого оборудования и технологической оснастки;', 'Обследование производства и выработка рекомендаций по его модернизации.' ] })

	include ./blocks/main/process.pug