nav.header-menu-nav.d-flex.align-items-center
	ul.header-menu.nav
		each item_title in [ 'О компании', 'Услуги', 'Продукция', 'Разработки и инновации', 'Сертификаты и лицензии', 'Контакты' ]
			.nav-item
				a(class="nav-link", href="/")= item_title