.header-menu-container.d-flex.align-items-center.justify-content-end
	nav.header-menu-nav.d-xl-block.d-none
		ul.header-menu.list-unstyled
			each item_title in [ 'О компании', 'Услуги', 'Продукция', 'Разработки и инновации', 'Сертификаты и лицензии', 'Контакты' ]
				li
					a(href="/")= item_title
	
	.header-menu-toggle-container.d-flex.d-xl-none.align-items-center
		span.header-menu-toggle-label Меню
		button.header-menu-toggle